H1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
}

p{
    font-family: Arial, Helvetica, sans-serif;

}

li{
    display: inline;
    margin-right: 10px;
}
hr{
    border: 3px solid black;
}

nav {
    margin: 30px auto 30px auto;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
nav a{
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    
}
nav a:visited{
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}

article{
    min-height: 500px;
}

.maandag-ochtend{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 5px 10px 5px;
}

.Afbeelding-Maandag{
    display: flex;
}


